/*/// FLEXSLIDER ///*/

.flexslider .flex-caption {
	background: none repeat scroll 0 0 rgba(23, 23, 23, 0.85);
	bottom: 3em;
	box-shadow: 0 0 0em rgba(100, 100, 100, 0.85);
	right: 0em;
}

.flexslider .flex-caption p {
	color: rgba(255, 255, 255, 0.85);
}

.flex-control-paging li a {
  background: none repeat scroll 0 0 rgba(231, 231, 231, 0.3);
}

.flex-control-paging li a.flex-active {
  background: none repeat scroll 0 0 rgba(231, 231, 231, 0.7);
}

.flex-control-paging li {
	padding:.5em 0 0 0;

}

.flex-control-nav {
	background-color: #232323;
	z-index: 100;
	bottom: 0;
}


/*/// ASIDE .block (SIDEBAR) ///*/

aside h2.block-title, .zone-postscript .block h2.block-title {
  border-bottom: 2px solid #cb1a2a;
  padding: 0.5em;
}

aside .block .item-list > ul > li, aside .block .view-content > .views-row {
  border-bottom: 1px solid rgba(200, 200, 200, 0.9);
  margin: 0.5em;
  padding: 0.5em;
}

aside .more-link {
  text-align: right;
  padding: .5em;
}